@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');


.bb{
    background: rgb(209,209,208);
    background: linear-gradient(90deg, #ffe8ad 0%, rgba(255, 255, 255, 1) 100%);


    font-family: 'Raleway', sans-serif;
}
.container{
    width:800px;
    
    margin:0 auto;    
    margin-top: 4rem;
}
